@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato);

html {
	font-family: Lato ;
	background-color: #001D00 ;
	color: #FFF697 ;
}

h1 {
	animation: neon 0.75s ease-in-out infinite alternate;	
}

h6 {
	color: #031303 ;
	position: absolute ;
	bottom: 0 ;
	right: 0 ;
	margin: 10px ;
}

input {
	font-size:16pt ;
	background-color: #031303 ;
	color: #FFF697 ;
	margin: 8px ;
}

#login-form {
	xxpadding-top: 75px ;
	xxwidth: 33% ;
  	xxmargin: auto;	
  	display: flex;
    justify-content: center; /* for horizontal alignment */
    align-items: center; /* for vertical alignment */
}

.design {
	display: inline-block ;
	position: relative ;
	width: 280px ;
	height: 120px ;
	border: 3px solid #D8CE5F ;
	margin: 10px ;
	padding: 10px ;
	background-color: #031303 ;
	vertical-align: middle;
}

.design input,.design select {
	font-size:10pt ;
	background-color: #031303 ;
	color: #FFF697 ;
	margin: 3px ;
	padding: 0 ;
}


.upload {
	display: inline-block ;
	position: relative ;
	width: 120px ;
	height: 120px ;
	border: 3px dashed #D8CE5F ;
	margin: 10px ;
	padding: 10px ;
	text-align: center;
	vertical-align: middle;
	line-height: 120px; 
	background-color: #031303 ;
}

.dropok {
	border: 3px dashed #D8CE5F ;
	background-color: #0A220A ;
}

#results {
	display: block ;
	position: relative ;
	width: 800px ;
	height: 300px ;
	border: 1px solid #D8CE5F ;
	margin: 10px ;
	padding: 10px ;
	background-color: #0A220A ;
	overflow: scroll ;
}


@keyframes zoomin {
	from { transform:rotateX(-90deg);}
	to { transform: rotateX(0deg); }
}

@keyframes neon {
	from { text-shadow:0 0 10px #afa, 0 0 20px #9f9, 0 0 30px #7f7, 0 0 40px #2D442D;}
	to { text-shadow: 0 0 5px #afa, 0 0 10px #9f9, 0 0 15px #7f7, 0 0 20px #2D442D;}
}