extends layout

block content
	h1 Neural Playground
		
	#login-form
		form( action='/login', method='POST' )
			input(type="hidden", name='client_name', value='Basic' )			
			input(name='uid', placeholder='Username' )		
			br
			input(name='pwd', placeholder='Password' )
			br
			input(type='submit', value='Login')
	