extends layout

block content
	h1 Neural Playground
		
	form( action='/nnp', method='POST' )
		input(name='uid', placeholder='Username' )		
		input(name='pwd', placeholder='Password' )
		input(type='submit', value='Login')